<div class="dashboard">

    <div class="left">

        <div class="navigation">

            <!-- Home -->
            <div class="navigation_button">
                <div class="navigation_header">
                    <div class="icon">
                        <i class="fa-solid fa-house icon"></i>
                    </div>
                    <div routerLink="/"> Home </div>
                </div>
            </div>

            <!-- Overview -->
            <div class="navigation_button">
                <div class="navigation_header">
                    <div class="icon">
                        <i class="fa-solid fa-indent"></i>
                    </div>
                    <div routerLink="/overview"> Overview </div>
                </div>
            </div>
            
            <!-- Admins -->
            <div class="navigation_button">
                <div class="navigation_header">
                    <div class="icon">
                        <i class="fa-solid fa-user-secret"></i>
                    </div>
                    <div (click)="toggleAuthors()"> Authors </div>
                </div>

                <ng-container *ngIf="showAuthors">
                    <div class="navigation_dropdown">
                        <div routerLink="all-admins" class="dropdown">
                            All Authors
                        </div>
                        <div class="dropdown">
                            Add Author
                        </div>
                    </div>
                </ng-container>

            </div>

            <!-- Users -->
            <div class="navigation_button">
                <div class="navigation_header">
                    <div class="icon">
                        <i class="fa-solid fa-users"></i>
                    </div>
                    <div (click)="toggleUsers()"> Users </div>
                </div>

                <ng-container *ngIf="showUsers">
                    <div class="navigation_dropdown">
                        <div routerLink="/all-users" class="dropdown">
                            All Users
                        </div>
                        <div class="dropdown">
                            Add User
                        </div>
                    </div>
                </ng-container>

            </div>

            <!-- Papers -->
            <div class="navigation_button">
                <div class="navigation_header">
                    <div class="icon">
                        <i class="fa-brands fa-researchgate"></i>
                    </div>
                    <div (click)="togglePapers()"> Papers </div>
                </div>

                <ng-container *ngIf="showPapers">
                    <div class="navigation_dropdown">
                        <div routerLink="all-users" class="dropdown">
                            All Users
                        </div>
                        <div class="dropdown">
                            Add User
                        </div>
                    </div>
                </ng-container>

            </div>


        </div>

    </div>
    <!-- End Left -->

    <div class="right" [@routeAnim]="prepareRoute(outlet)">
        <div class="right_container">
            <router-outlet #outlet="outlet"></router-outlet>
        </div>
    </div>
    <!-- End Right -->

</div>