<div class="dashboard">

    <div class="left">

        <div class="navigation">

            <div class="navigation_button">
                <i class="fa-solid fa-house icon"></i>
                <span>Home</span>
            </div>

            <div class="navigation_button">
                <i class="fa-solid fa-user-secret"></i>
                <span>Admins</span>
            </div>

            <div class="navigation_button">
                <i class="fa-solid fa-users"></i>
                <span>Users</span>
            </div>

            <div class="navigation_button">
                <i class="fa-brands fa-researchgate"></i>
                <span>Papers</span>
            </div>


        </div>

    </div>
    <!-- End Left -->

    <div class="right"></div>
    <!-- End Right -->

</div>
